<form method="post" action="/tweets/<%= @tweet.id %>/delete" id="delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
</form>

<button type="submit" form="delete" id="Delete Tweet" value="Delete Tweet" formaction="/tweets/<%= @tweet.id %>/delete">Delete Tweet</button>