<form method="post" action="/tweets/<%= @tweet.id %>/delete" id="Delete Tweet">
  <input id="hidden" type="hidden" name="_method" value="delete">
</form>

<button type="submit" form="delete" id="Delete Tweet">Delete Tweet</button>